.header {
    position: fixed;
    left:0;
    top: 0;
    z-index: 10;

    width: 100%;
    
    // background-color: rgba(#030812, 0.94);

    &__inner {
        display: grid;
        align-items: center;
        grid-template-areas: 'logo search-form spacing navbar connect-wallet';
        grid-template-columns: repeat(2, auto) 1fr repeat(2, auto);
        padding: 26px 0
    }

    &__logo {
        grid-area: logo;
    }

    &__search-form {
        grid-area: search-form;
    }

    &__nav {
        grid-area: navbar;
        margin-right: 32px;
    }

    &__connect-wallet-link {
        grid-area: connect-wallet
    }

    &__nav-list {
        display: flex;
    }

    &__nav-list-item:not(:last-child) {
        margin-right: 32px
    }

    &__nav-link {
        display: inline-block;

        @include Urbanist(16px, 700, #fff);

        transition: transform .2s ease-in-out;

        &:hover {
            transform: translateY(-3px);
        }
    }

    &__logo {
        margin-right: 40px
    }

    &__search-button, &__burger-button {
        display: none;
    }
    


    @media (max-width: 1024px) {
        &__search-form {
            display: none;
        }
    }

    @media (max-width: 767px) {
        &__nav, &__connect-wallet-link {
            display: none;
        }

        &__search-button, &__burger-button {
            display: block;
        }

        &__inner {
            grid-template-areas: 'logo spacing search burger';
            grid-template-columns: auto 1fr auto auto;
            padding: 16px 0;
        }

        &__search-button {
            grid-area: search;

            margin-right: 16px;
            height: 20px;
        
            cursor: pointer;
        }
        
        &__burger-button {
            grid-area: burger;
            height: 20px;

            cursor: pointer;
        }
    }
} 

.header-menu {
    display: none;
    justify-items: center;
    align-content: center;
    width: 100%;
    
    position: fixed;
    left: 0;
    z-index: 11;
    
    background-color: rgba(#030812, 0.94);

    &__nav {
        margin-bottom: 32px;
    }

    &__nav-list {
        display: grid;
        justify-items: center
    }

    &__nav-link {
        @include Urbanist(24px, 700, #fff);
    }

    &__nav-list-item:not(:last-child) {
        margin-bottom: 16px;
    }

    &__connect-wallet-link {
        
    }
}

.header-menu_active {
    display: grid;
}

.header-search {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;

    position: fixed;
    left: 0;
    z-index: 11;
    
    background-color: rgba(#030812, 0.94);

    &__form {
        display: flex;
        width: 100%;
    }

    &__form-input {
        display: block;
        width: 100%;

        padding: 12px;
        margin-right: 8px;
        border-radius: 8px;

        background-color: #3C485D;

        @include Urbanist(14px, 400, #8393AF);
    }

    &__form-submit {
        display: block;
        width: 41px;
        height: 41px;
        padding: 6px;

        background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
        border-radius: 8px;

        cursor: pointer;
    }
}

.header-search_active {
    display: flex;
}