.header {
    &__inner {
        display: grid;
        align-items: center;
        grid-template-areas: 'logo search-form spacing navbar connect-wallet';
        grid-template-columns: repeat(2, auto) 1fr repeat(2, auto);
        padding: 26px 0
    }

    &__logo {
        grid-area: logo;
    }

    &__search-form {
        grid-area: search-form;
    }

    &__nav {
        grid-area: navbar;
        margin-right: 32px;
    }

    &__connect-wallet-link {
        grid-area: connect-wallet
    }

    &__nav-list {
        display: flex;
    }

    &__nav-list-item:not(:last-child) {
        margin-right: 32px
    }

    &__nav-link {
        @include Urbanist(16px, 700, #fff);
    }

    &__logo {
        margin-right: 40px
    }

    &__search-button, &__burger-button {
        display: none;
    }
    


    @media (max-width: 1024px) {
        &__search-form {
            display: none;
        }
    }

    @media (max-width: 767px) {
        &__nav, &__connect-wallet-link {
            display: none;
        }

        &__search-button, &__burger-button {
            display: block;
        }

        &__inner {
            grid-template-areas: 'logo spacing search burger';
            grid-template-columns: auto 1fr auto auto;
        }

        &__search-button {
            grid-area: search;

            margin-right: 16px;
            height: 20px;
        
            cursor: pointer;
        }
        
        &__burger-button {
            grid-area: burger;
            height: 20px;

            cursor: pointer;
        }
    }
} 

