.hero {
    margin-bottom: 160px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__main {
        display: grid;
        grid-template-areas: 'heading heading'
                             '  text   text  '
                             'button1 button2';
        grid-template-columns: auto 1fr;
        grid-template-rows: repeat(3, auto);
        max-width: 470px;
    }

    &__heading {
        grid-area: heading;

        margin-bottom: 40px;

        @include Urbanist(48px, 700, #fff);
    }

    &__text {
        grid-area: text;
        
        margin-bottom: 40px;

        @include Urbanist(20px, 400, #fff)
    }

    &__explore-link {
        grid-area: button1;

        margin-right: 16px;
    }

    &__create-link {
        grid-area: button2;
    }

    &__illustration-img {
        width: 100%;
    }
}

.how-it-works {
    margin-bottom: 160px;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        margin-bottom: 64px;
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card-icon {
        margin-bottom: 24px;
        padding: 20px;
        border-radius: 50%;
    }

    &__card-icon-img {
        width: 40px;
        height: 40px;
        object-fit: contain
    }

    &__card-icon_aurora {
        background: linear-gradient(207.67deg, #23D3A4 3.43%, #5B49CF 104.7%);
    }

    &__card-icon_mallows {
        background: linear-gradient(63.88deg, #739EEC 29.38%, #FF8C9F 86.63%);
    }

    &__card-icon_sunset {
        background: linear-gradient(66.27deg, #FE6F2D -10.45%, #FDCE38 76.78%);
    }

    &__card-icon_ocean {
        background: linear-gradient(133.48deg, #2EA3F2 -3.48%, #A651FB 130.9%);
    }

    &__card-heading {
        @include Urbanist(24px, 700, #fff);
        
        margin-bottom: 8px;
    }

    &__card-text {
        @include Urbanist(16px, 400, #fff);

        text-align: center;
        max-width: 270px;
        line-height: 150%;
    }
}

.live-auctions {
    margin-bottom: 160px;

    &__inner {
        display: grid;
    }

    &__wide-container {
        display: grid;
        justify-content: center;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 64px;
    }

    &__list {
        display: flex;
        gap: 16px;
    }

    &__card {
        display: grid;
        grid-template-areas: 'preview preview preview'
                             'info info info'
                             'stats stats stats'
                             'button1 button2 button2';
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        padding: 24px;
        
        background: rgba(255, 255, 255, 0.2);
        border-radius: 24px;
        width: 27vw;
        max-width: 470px;
        min-width: 370px;
    }

    &__card-preview {
        grid-area: preview;

        margin-bottom: 24px;

        width: 100%;
        border-radius: 24px;
    }


    &__card-info {
        grid-area: info;
        align-self: center;
        
        margin-bottom:24px;
    }

    &__card-stats {
        grid-area: stats;

        margin-bottom: 24px;
    }

    &__card-timer-link {
        grid-area: button1;

        margin-right: 16px;
    }

    &__card-place-bid-link {
        grid-area: button2;
    }

    &__card-place-bid-button {
        width: 100%;
    }
}

.popular-collections {
    margin-bottom: 160px;

    &__inner {
        
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 16px;
    }

    // &__list-item {
    //     display: grid;
    //     justify-content: center;
    // }

    &__card {
        display: grid;
        grid-template-areas: 'previews previews'
                             'info like';
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        padding: 24px;

        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        border-radius: 24px;
    }

    &__card-previews {
        grid-area: previews;
        justify-self: center;
        
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        padding-bottom: 24px;
        width: 100%;
    }

    &__card-like-button {
        grid-area: like;
        align-self: center;
    }

    
    &__card-info {
        grid-area: info;

        margin-right: 12px;
    }

    &__card-preview {
        width: 100%;
        // object-fit: cover;
        
        transition: transform .3s ease-in-out;
        
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__card-preview:nth-child(1) {
        border-radius: 24px 24px 4px 24px;
        transform-origin: bottom right;
    }

    &__card-preview:nth-child(2) {
        border-radius: 24px 24px 24px 4px;
        transform-origin: bottom left;
    }

    &__card-preview:nth-child(3) {
        border-radius: 24px 4px 24px 24px;
        transform-origin: top right;
    }

    &__card-preview:nth-child(4) {
        border-radius: 4px 24px 24px 24px;
        transform-origin: left top;
    }

    @media (max-width: 1024px) {
        &__header {
            flex-direction: column;
            justify-content: center;
        }

        &__heading {
            text-align: center;
        }

        &__explore-all-link {
            margin-top: 32px;
        }
    }
 
    @media (max-width: 767px) {
        &__list {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        }
    }

    @media (max-width: 425px) {
        &__list {
            grid-template-columns: 1fr;
        }
    }
}

.top-sellers {
    margin-bottom: 160px;

    &__inner {
        
    }

    &__heading {
        text-align: center;
        margin-bottom: 64px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 16px;
    }

    &__card {
        display: grid;
        justify-content: start;
        justify-items: center;
        grid-template-areas: 'avatar name'
                             'avatar spent';
        grid-template-columns: auto 1fr;

        padding: 16px;

        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);

        border-radius: 24px;

        cursor: pointer;
    }

    &__card-avatar {
        grid-area: avatar;
        
        margin-right: 16px;
        width: 64px;
        border-radius: 50%;
    }

    &__card-name {
        grid-area: name;
        align-self: end;
        justify-self: start;

        margin-bottom: 6px;

        @include Urbanist(20px, 700, #fff)
    }

    &__card-spent {
        grid-area: spent;
        align-self: start;
        justify-self: start;

        @include Urbanist(16px, 400, #8393AF)
    }

    @media (max-width: 425px) {
        &__list {
            grid-template-columns: 1fr;
        }
    }
}

.todays-picks {
    margin-bottom: 160px;
    
    &__inner {
        display: grid;
    }

    &__heading {
        text-align: center;
        margin-bottom: 64px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 16px;
        width: 100%;
        margin-bottom: 64px;
    }

    &__card {
        display: grid;
        grid-template-areas: 'preview preview'
                             'info info'
                             'stats stats'
                             'button1 button2';
        grid-template-columns: 1fr 1fr;
        padding: 24px;

        background: rgba(255, 255, 255, 0.2);
        border-radius: 24px;
    }

    &__card-preview {
        grid-area: preview;

        margin-bottom: 24px;

        border-radius: 24px;
        width: 100%;
    }

    &__card-info {
        grid-area: info;

        margin-bottom: 24px;
    }

    &__card-stats {
        grid-area: stats;

        margin-bottom: 24px;
    }

    &__card-history-link {
        grid-area: button1;

        margin-right: 16px;
    }

    &__card-place-bid-link {
        grid-area: button2;        
    }

    &__load-more-link {
        justify-self: center;
    }

    @media (max-width: 767px) {
        &__list {
            grid-template-columns: 1fr;
        }

        &__card {
            grid-template-areas: 'preview preview'
                                 'info info'
                                 'stats stats'
                                 'button1 button1'
                                 'button2 button2';
        }

        &__card-history-link {
            margin-right: 0px;
            margin-bottom: 16px
        }
    }
}
