.content {
    &__hero {
        position: relative;
        z-index: var(--block-zindex);
        margin-bottom: var(--block-vspacing);
    }

    &__how-it-works {
        position: relative;
        z-index: var(--block-vspacing);    
        margin-bottom: var(--block-vspacing);
    }
    
    &__live-auctions {
        position: relative;
        z-index: var(--block-vspacing);
        margin-bottom: var(--block-vspacing);
    }

    &__popular-collections {
        position: relative;
        z-index: var(--block-vspacing);
        margin-bottom: var(--block-vspacing);
    }

    &__top-sellers {
        position: relative;
        z-index: var(--block-vspacing);
        margin-bottom: var(--block-vspacing);
    }

    &__todays-picks {
        position: relative;
        z-index: var(--block-vspacing);
        margin-bottom: var(--block-vspacing);
    }
}

.hero {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__main {
        display: grid;
        grid-template-areas: 'heading heading'
                             '  text   text  '
                             'button1 button2';
        grid-template-columns: auto 1fr;
        row-gap: 40px;
        column-gap: 16px;
        max-width: 470px;
    }

    &__heading {
        grid-area: heading;
        @include Urbanist(48px, 700, #fff);
    }

    &__text {
        grid-area: text;
        @include Urbanist(20px, 400, #fff)
    }

    &__explore-link {
        grid-area: button1;
    }

    &__create-link {
        grid-area: button2;
    }

    &__illustration-img {
        width: 100%;
    }

    &__bg {
        position: absolute;
        right: -100px;
        top: -300px;
        max-width: 890px;
        min-width: 500px;
        width: 50vw;
        z-index: -1;

        filter: blur(30px);

        transform: translateZ(0px);
    }

    @media (max-width: 1024px) {
        &__inner {
            flex-direction: column;
        }

        &__illustration {
            order: 1;
            margin-bottom: 48px;
        }

        &__main {
            order: 2;

            grid-template-columns: 1fr 1fr;
            justify-content: center;
            max-width: max-content;

        }

        &__heading, &__text {
            text-align: center;
            max-width: 600px;
        }

        &__create-link {
            justify-self: start;
        }

        &__explore-link {
            justify-self: end;
        }
    }

    @media (max-width: 767px) {
        &__heading {
            font-size: 42px;
        }
    } 

    @media (max-width: 375px) {
        &__main {
            grid-template-areas: 'heading'
                                 'text'
                                 'button1'
                                 'button2';
            grid-template-columns: 1fr;
            gap: unset;
        }

        &__heading {
            margin-bottom: 18px;
        }

        &__text {
            margin-bottom: 48px;
        }

        &__explore-link {
            margin-bottom: 12px;
        }

        &__create-link, &__explore-link {
            width: 100%;
        }
    }
}

.how-it-works {
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        position: relative;
        z-index: 5; 

        margin-bottom: 64px;
        text-align: center;
    }

    &__list {
        position: relative;
        z-index: 2;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 32px;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card-icon {
        margin-bottom: 24px;
        padding: 20px;
        border-radius: 50%;
    }

    &__card-icon-img {
        width: 40px;
        height: 40px;
        object-fit: contain
    }

    &__card-icon_aurora {
        background: linear-gradient(207.67deg, #23D3A4 3.43%, #5B49CF 104.7%);
    }

    &__card-icon_mallows {
        background: linear-gradient(63.88deg, #739EEC 29.38%, #FF8C9F 86.63%);
    }

    &__card-icon_sunset {
        background: linear-gradient(66.27deg, #FE6F2D -10.45%, #FDCE38 76.78%);
    }

    &__card-icon_ocean {
        background: linear-gradient(133.48deg, #2EA3F2 -3.48%, #A651FB 130.9%);
    }

    &__card-heading {
        @include Urbanist(24px, 700, #fff);
        
        margin-bottom: 8px;
    }

    &__card-text {
        @include Urbanist(16px, 400, #fff);

        text-align: center;
        max-width: 270px;
        line-height: 150%;
    }
    
    &__bg {
        position: absolute;
        z-index: 0;
        left: -200px;
        top: 0;

        max-width: 890px;
        min-width: 500px;
        width: 50vw;
        
        filter: blur(30px);

        transform: translateZ(0px);
    }
}

.live-auctions {
    &__inner {
    }


    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 64px;
    }

    &__slider {
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        
        width: 1240px;
        padding-bottom: 64px
    }

    &__slider-pagination {
        display: flex;
        justify-content: center;
        align-items: center;

        .swiper-pagination-bullet {
            all: initial;

            display: inline-block;
            width: 20px;
            height: 20px;

            position: relative;

            cursor: pointer;

            &::after {
                content: '';

                display: inline-block;
                width: 14px;
                height: 14px;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                border-radius: 50%;
                z-index: 5;
    
                border: 2px solid #fff;
                background-color: transparent;
    
                transition: all .2s ease-in-out;
            }
        }

        .swiper-pagination-bullet-active {
            &::after {
                width: 18px;
                height: 18px;
    
                background-color: #fff;
            }
        }
    }

    &__card {
        display: grid;
        grid-template-areas: 'preview preview preview'
                             'info info info'
                             'stats stats stats'
                             'button1 button2 button2';
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        padding: 24px;
        
        background: rgba(255, 255, 255, 0.2);
        border-radius: 24px;    
        
        user-select: none;
    }

    &__card-preview {
        grid-area: preview;

        margin-bottom: 24px;

        width: 100%;
        border-radius: 24px;
    }


    &__card-info {
        grid-area: info;
        align-self: center;
        
        margin-bottom:24px;
    }

    &__card-stats {
        grid-area: stats;

        margin-bottom: 24px;
    }

    &__card-timer-link {
        grid-area: button1;

        margin-right: 16px;
    }

    &__card-place-bid-link {
        grid-area: button2;
    }

    &__card-place-bid-button {
        width: 100%;
    }

    &__footer {
        display: none;
    }

    @media (max-width: 1024px) {
        &__header {
            justify-content: center;
        }

        &__header-explore-link {
            display: none;
        }

        &__heading {
            text-align: center;
        }

        &__footer {
            display: grid;
            justify-content: center;
            margin-top: 32px;
        }
    }

    @media (max-width: 767px) {
        &__slider {
            width: 1100px
        }

        &__card {
            grid-template-areas: 'preview'
                                 'info'
                                 'stats'
                                 'button1'
                                 'button2';
            grid-template-columns: 1fr;
        }

        &__card-timer-link {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }

    @media (max-width: 425px) {
        &__footer {
            justify-content: stretch;
        }

        &__slider {
            width: 100%;
        }
    }
}

.popular-collections {
    &__inner {
        
    }

    &__header {
        position: relative;
        z-index: 5;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 64px;
    }

    &__list {
        position: relative;
        z-index: 5;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 16px;
    }

    // &__list-item {
    //     display: grid;
    //     justify-content: center;
    // }

    &__card {
        display: grid;
        grid-template-areas: 'previews previews'
                             'info like';
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        padding: 24px;

        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        border-radius: 24px;
    }

    &__card-previews {
        grid-area: previews;
        justify-self: center;
        
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        padding-bottom: 24px;
        width: 100%;
    }

    &__card-like-button {
        grid-area: like;
        align-self: center;
    }

    
    &__card-info {
        grid-area: info;

        margin-right: 12px;
    }

    &__card-preview {
        width: 100%;
        // object-fit: cover;
        
        transition: transform .3s ease-in-out;
        
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__card-preview:nth-child(1) {
        border-radius: 24px 24px 4px 24px;
        transform-origin: bottom right;
    }

    &__card-preview:nth-child(2) {
        border-radius: 24px 24px 24px 4px;
        transform-origin: bottom left;
    }

    &__card-preview:nth-child(3) {
        border-radius: 24px 4px 24px 24px;
        transform-origin: top right;
    }

    &__card-preview:nth-child(4) {
        border-radius: 4px 24px 24px 24px;
        transform-origin: left top;
    }

    &__footer {
        display: none;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateZ(0px);
        z-index: 0;

        max-width: 1280px;
        min-width: 500px;
        width: 100vw;

        filter: blur(40px);
    }

    @media (max-width: 1024px) {
        &__header {
            justify-content: center;
        }

        &__header-explore-all-link {
            display: none;
        }

        &__heading {
            text-align: center;
        }

        &__footer {
            display: grid;
            justify-content: center;
            margin-top: 32px;
        }
    }
 
    @media (max-width: 767px) {
        &__list {
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        }
    }

    @media (max-width: 425px) {
        &__list {
            grid-template-columns: 1fr;
        }

        &__footer {
            justify-content: stretch;
        }
    }

    @media (max-width: 375px) {
        &__card {
            // padding: 16px;
        }
    }
}

.top-sellers {
    &__inner {
        
    }

    &__heading {
        text-align: center;
        margin-bottom: 64px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 16px;
    }

    &__card {
        display: grid;
        justify-content: start;
        justify-items: center;
        grid-template-areas: 'avatar name'
                             'avatar spent';
        grid-template-columns: auto 1fr;

        padding: 16px;

        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);

        border-radius: 24px;

        cursor: pointer;

        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__card-avatar {
        grid-area: avatar;
        
        margin-right: 16px;
        width: 64px;
        border-radius: 50%;
    }

    &__card-name {
        grid-area: name;
        align-self: end;
        justify-self: start;

        margin-bottom: 6px;

        @include Urbanist(20px, 700, #fff)
    }

    &__card-spent {
        grid-area: spent;
        align-self: start;
        justify-self: start;

        @include Urbanist(16px, 400, #8393AF)
    }

    @media (max-width: 425px) {
        &__list {
            grid-template-columns: 1fr;
        }
    }
}

.todays-picks {
    &__inner {
        display: grid;
    }

    &__heading {
        text-align: center;
        margin-bottom: 64px;
    }

    &__list {
        position: relative;
        z-index: 5;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 16px;
        width: 100%;
        margin-bottom: 64px;

    }

    &__card {
        display: grid;
        grid-template-areas: 'preview preview'
                             'info info'
                             'stats stats'
                             'button1 button2';
        grid-template-columns: 1fr 1fr;
        padding: 24px;

        background: rgba(255, 255, 255, 0.2);
        border-radius: 24px;
    }

    &__card-preview {
        grid-area: preview;

        margin-bottom: 24px;

        border-radius: 24px;
        width: 100%;
    }

    &__card-info {
        grid-area: info;

        margin-bottom: 24px;
    }

    &__card-stats {
        grid-area: stats;

        margin-bottom: 24px;
    }

    &__card-history-link {
        grid-area: button1;

        margin-right: 16px;
    }

    &__card-place-bid-link {
        grid-area: button2;        
    }

    &__load-more-link {
        position: relative;
        z-index: 5;

        justify-self: center;
    }

    &__bg {
        position: absolute;
        z-index: 0;
        bottom: 0;
        right: -20%;

        transform: translateY(200px) translateZ(0px);

        width: 100vw;
        max-width: 1400px;

        filter: blur(60px);
    }

    @media (max-width: 425px) {
        &__list {
            grid-template-columns: 1fr;
        }

        &__card {
            grid-template-areas: 'preview preview'
                                 'info info'
                                 'stats stats'
                                 'button1 button1'
                                 'button2 button2';
        }

        &__card-history-link {
            margin-right: 0px;
            margin-bottom: 16px
        }
    }

    @media (max-width: 375px) {
        &__card {
            // padding: 16px;
        }
    }
}
