        <footer class="footer">
            <div class="footer__container container">
                <div class="footer__inner">
                    <div class="footer__about-us">
                        <a href="/" class="footer__about-us-logo logo">
                            <img src="images/logo.svg" alt="logo.svg" class="logo__img" />
                            <h1 class="logo__text">Ultra NFT</h1>
                        </a>
                        <p class="footer__about-us-text">
                            We ara a lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, Ut enim ad minim veniam, quis nostrud equip consectetur
                            adipiscing ex ea commodo dolor consequat
                        </p>
                    </div>
                    <ul class="footer__contacts">
                        <li class="footer__contacts-item">
                            <a href="#" class="footer__contacts-item-link">
                                <div class="footer__contact">
                                    <img src="images/icons/phone-r.svg" alt="phone-r.svg"
                                        class="footer__contact-icon" />
                                    <span class="footer__contact-type">Phone</span>
                                    <span class="footer__contact-contents">+92 333 6527366</span>
                                </div>
                            </a>
                        </li>
                        <li class="footer__contacts-item">
                            <a href="#" class="footer__contacts-item-link">
                                <div class="footer__contact">
                                    <img src="images/icons/email-r.svg" alt="email-r.svg"
                                        class="footer__contact-icon" />
                                    <span class="footer__contact-type">Mail</span>
                                    <span class="footer__contact-contents">abuzer@greelogix.com</span>
                                </div>
                            </a>
                        </li>
                        <li class="footer__contacts-item">
                            <a href="#" class="footer__contacts-item-link">
                                <div class="footer__contact">
                                    <img src="images/icons/location-r.svg" alt="location-r.svg"
                                        class="footer__contact-icon" />
                                    <span class="footer__contact-type">Address</span>
                                    <span class="footer__contact-contents">N234 Johar Town, Lahore</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="footer__sitemap">
                        <div class="footer__sitemap-cat">
                            <span class="footer__sitemap-cat-name">About</span>
                            <ul class="footer__sitemap-cat-list">
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">About Us</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Blog</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Careers</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Jobs</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">In Press</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Gallery</a>
                                </li>
                            </ul>
                        </div>

                        <div class="footer__sitemap-cat">
                            <span class="footer__sitemap-cat-name">Support</span>
                            <ul class="footer__sitemap-cat-list">
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Contact Us</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Online Chat</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">WhatsApp</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Telegram</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Ticketing</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Call Center</a>
                                </li>
                            </ul>
                        </div>

                        <div class="footer__sitemap-cat">
                            <span class="footer__sitemap-cat-name">FAQ</span>
                            <ul class="footer__sitemap-cat-list">
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Account</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Manage Deliveries</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Orders</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Payments</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Returns</a>
                                </li>
                                <li class="footer__sitemap-cat-list-item">
                                    <a href="#" class="footer__sitemap-link">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="footer__socials">
                        <li class="footer__socials-item">
                            <a href="#" class="footer__socials-item-link">
                                <img src="images/icons/facebook-r.svg" alt="facebook-r.svg"
                                    class="footer__socials-item-icon" />
                            </a>
                        </li>
                        <li class="footer__socials-item">
                            <a href="#" class="footer__socials-item-link">
                                <img src="images/icons/linked-in-r.svg" alt="linked-in-r.svg"
                                    class="footer__socials-item-icon" />
                            </a>
                        </li>
                        <li class="footer__socials-item">
                            <a href="#" class="footer__socials-item-link">
                                <img src="images/icons/dribble-r.svg" alt="dribble-r.svg"
                                    class="footer__socials-item-icon" />
                            </a>
                        </li>
                    </ul>
                    <p class="footer__copyright">© 2012-2022, All Rights Reserved</p>
                </div>
            </div>
        </footer>